<div class="container contact-form">
    <div class="row">
        <div class="col-sm-12 text-center mb-5">
            <h2>{{ 'Обратная связь'|_ }}</h2>
            <p>{{ 'Если у Вас остались вопросы или Вы хотите поделиться своим мнением – пожалуйста, пишите, мы обязательно ответим!'|_ }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <img src="/storage/app/media/contact_form_logo.png" alt="">
            <p>{{ 'Для более подробной информации о продукте и компании, пожалуйста посетите наш официальный веб-сайт'|_ }}</p>
            <p>https://effekt-iv.ru</p>
        </div>
        <div class="col-sm-7">
            <form class="contact-form-needs-validation" novalidate>
                <input type="hidden" name="product" value="{{ obProduct.name }}">
                <div class="mb-3">
                    <label for="validationContactFormName" class="form-label">{{ 'Ваше Имя'|_ }}</label>
                    <input type="text" class="form-control" id="validationContactFormName" name="first_name" required>
                    <div class="invalid-feedback">
                        {{ 'Обязательно для заполнения'|_ }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="validationContactFormEmail" class="form-label">{{ 'Ваш Email'|_ }}</label>
                    <input type="email" class="form-control" id="validationContactFormEmail" name="email" required>
                    <div class="invalid-feedback">
                        {{ 'Обязательно для заполнения'|_ }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="validationContactFormPhone" class="form-label">{{ 'Телефон'|_ }}</label>
                    <input type="phone" class="form-control" id="validationContactFormPhone" name="phone" required>
                    <div class="invalid-feedback">
                        {{ 'Обязательно для заполнения'|_ }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">{{ 'Сообщение'|_ }}</label>
                    <textarea class="form-control" id="message" rows="3" name="message"></textarea>
                </div>
                <button type="submit" class="btn btn-send-form">{{ 'Отправить'|_ }}
                    <div class="spinner-border spinner-border-sm d-none" id="contact-form-spinner" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </form>
            <div id="contactFormResult"></div>
        </div>
    </div>
</div>
