<!-- Catalog page -->
<div class="catalog-page my-5">
    <div class="container">
        <h1>{{ obCategory.name }}</h1>
        {% if arProductList is not empty %}
        <div class="row row-cols-1 row-cols-lg-3 mt-5">
            {% for obProduct in arProductList %}
            <div class="col pb-4">
                <div class="card">
                    <a href="{{ obProduct.getPageUrl('product') }}">
                        <img src="{{ obProduct.preview_image.path }}" class="card-img-top" alt="{{ obProduct.preview_image.description }}" title="{{ obProduct.preview_image.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ obProduct.name }}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% partial 'pagination/pagination' %}
        {% else %}
        <p>{{ 'Товары не найдены'|_ }}</p>
        {% endif %}
    </div>
</div>
