title = "Оформление заказа"
url = "/checkout"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "Сheckout"
[viewBag]
localeTitle[es] = "Сheckout"

[MakeOrder]
mode = "ajax"
redirect_on = 1
redirect_page = "success"

==
function onInit() {
    $this->addJs('assets/js/checkout.js');
}
==
{% if arCartData.shipping_type_id is null %}
    {% set shippingTypeId = 1 %}
{% else %}
    {% set shippingTypeId = arCartData.shipping_type_id %}
{% endif %}

{% if arCartData.payment_method_id is null %}
    {% set paymentMethodId = 1 %}
{% else %}
    {% set shippingTypeId = arCartData.payment_method_id %}
{% endif %}
<!-- Сheckout page -->
<div class="checkout-page my-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{ 'Оформление заказа'|_ }}</h3>
                <form class="row g-3 needs-validation" id="checkout_submit" method="post" novalidate>
                    <div class="col-md-6">
                        <label for="validationCustom01" class="form-label">{{ 'Имя'|_ }}</label>
                        <input type="text" class="form-control" id="validationCustom01" name="first_name" data-group="user" data-field="name" required>
                        <div class="invalid-feedback">
                            {{ 'Обязательно для заполнения'|_ }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom02" class="form-label">{{ 'Фамилия'|_ }}</label>
                        <input type="text" class="form-control" id="validationCustom02" name="last_name" data-group="user">
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom04" class="form-label">{{ 'Телефон'|_ }}</label>
                        <input type="text" class="form-control" id="validationCustom04" name="phone" data-group="user" required>
                        <div class="invalid-feedback">
                            {{ 'Обязательно для заполнения'|_ }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom03" class="form-label">{{ 'Email'|_ }}</label>
                        <input type="text" class="form-control" id="validationCustom03" name="email" data-group="user">
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom05" class="form-label">{{ 'Адрес'|_ }}</label>
                        <input type="text" class="form-control" id="validationCustom05" name="address" data-group="shipping_address" data-field="address1">
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom06" class="form-label">{{ 'Примечание к заказу'|_ }}</label>
                        <textarea class="form-control" id="validationCustom06" name="comment" data-group="order.property"></textarea>
                    </div>
                    <input type="hidden" class="form-control" name="shipping_type_id" value="{{ shippingTypeId }}" data-group="order">
                    <input type="hidden" class="form-control" name="payment_method_id" value="{{ paymentMethodId }}" data-group="order">
                    <input type="hidden" class="form-control" name="cdek_price" value="{{ arCartData.property.cdek_price }}" data-group="order">
                    <input type="hidden" class="form-control" name="cdek_info" value="{{ arCartData.property.cdek_info }}" data-group="order">
                    <div class="col-12">
                        <button class="btn btn-primary checkout_submit" type="submit">{{ 'Подтвердить заказ'|_ }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
