title = "Товар"
url = "/product/:slug"
layout = "default"
is_hidden = 0

[ProductPage]
slug = "{{ :slug }}"
slug_required = 1
smart_url_check = 1
skip_error = 0

[MakeOrder]
mode = "ajax"
redirect_on = 1
redirect_page = "success"

[ProductList]

[Breadcrumbs]
==
function onInit() {
    $obProduct = $this->ProductPage->get();
    if (!empty($this->param('slug')) && empty($obProduct)) {
        return $this->ProductPage->getErrorResponse();
    }

    $obOffer        = $obProduct->offer->first();
    $obCategory     = $obProduct->category;
    $obMainCategory = $obCategory->parent->isNotEmpty() ? $obCategory->parent : '';
    $this->Breadcrumbs->set($obProduct, $obCategory, $obMainCategory);

    $this['obCategory'] = $obCategory;
    $this['arBreadcrumbs'] = $this->Breadcrumbs->get();
    $this['obProduct'] = $obProduct;
    $this['obOffer'] = $obOffer;
    $this['obProductList'] = $this->ProductList->make()->category($obCategory->id)->take(6);

    $this['arHide'] = [12];

    $this->addJs('assets/js/product.js');
}
==
{% put pageTitle %}
    {{ obProduct.name }}
{% endput %}
<!-- Product -->
<div class="product-page">
    <!-- Gallery + details-->
    <div class="container product product-wrapper" data-product-id="{{ obProduct.id }}">
        <input type="hidden" name="offer_id" value="{{ obOffer.id }}">
        <input type="hidden" name="quantity" value="1">
        {% partial 'breadcrumbs/breadcrumbs' %}
        <h3 class="product-title">{{ obProduct.name }} {{locale}}</h3>
        <div class="row">
            <!-- Product gallery-->
            <div class="col-lg-8">
                <div class="gallery">
                    <div id="product-carousel" class="carousel">
                        {% if obProduct.images is not empty %}
                            {% for obImage in obProduct.images %}
                                <div class="carousel__slide" data-src="{{ obImage.getPath() }}" data-fancybox="product-gallery">
                                    <img src="{{ obImage.getPath() }}" alt="{{ obImage.description }}" title="{{ obImage.title }}" />
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div id="product-thumb-carousel" class="carousel max-w-xl mx-auto">
                        {% if obProduct.images is not empty %}
                            {% for obImage in obProduct.images %}
                                <div class="carousel__slide">
                                    <img class="panzoom__content" src="{{ obImage.getPath() }}" />
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Product details-->
            <div class="col-lg-4">
                <div class="details">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="price mb-4">{{ obOffer.currency }} {{ obOffer.price }}</div>
                            <div class="order-btn mb-4">
                                <button type="button" class="btn btn-quick-order">
                                    {{ 'Быстрый заказ'|_ }}
                                </button>
                                <button type="button" class="btn btn-add-to-cart">
                                    <i class="fas fa-shopping-cart"></i> {{ 'В корзину'|_ }}
                                </button>
                            </div>
                            {% partial 'product/information' %}
                            {% partial 'product/properties' %}
                        </div>
                    </div>
                    {% partial 'product/3d-youtube' %}
                </div>
            </div>
            <!-- Product info tabs -->
            <div class="col-lg-12">
                <div class="info-tab">
                    {% partial 'product/info-tabs' %}
                </div>
            </div>
        </div>
    </div>
    <!-- Benefit block -->
    <div class="benefit-wrapper">
        {% partial 'product/benefit' %}
    </div>
    <!-- Banner block -->
    <div class="banner-wrapper">
        {% partial 'product/banner' %}
    </div>
    <!-- Detail block -->
    <div class="detail-wrapper">
        {% partial 'product/detail' %}
    </div>
    <!-- Carousel block -->
    <div class="carousel-wrapper">
        {% partial 'product/carousel' %}
    </div>
    <!-- Benefits block -->
    <div class="benefits-wrapper">
        {% partial 'product/benefits' %}
    </div>
    <!-- Other blocks -->
    <div class="container in-color">
        <div class="row">
            {% partial 'product/carousel-in-color' %}
            {% partial 'product/video-block' %}
        </div>
        {% partial 'product/description-block' %}
    </div>
    <!-- Property table -->
    <div class="property-table-wrapper">
        {% partial 'product/specifications' %}
    </div>
    <!-- Product list block -->
    <div class="product-list-wrapper">
        {% partial 'product/product-list' %}
    </div>
    <!-- Contact form -->
    <div class="contact-form-wrapper">
        {% partial 'product/contact-form' %}
    </div>
</div>

