title = "Заказа оформлен"
url = "/success/:slug"
layout = "default"

[viewBag]
localeTitle[en] = "Order completed"
localeTitle[es] = "Pedido completado"

[OrderPage]
slug = "{{ :slug }}"
==
function onStart()
{
    if(isset($_GET['result'])) {
        $this['payKeeperResult'] = $_GET['result'];
    }
}
==
{# Get order object #}
{% set obOrder = OrderPage.get() %}

{% set cdekShippingTypeId = 2 %}
{% if obOrder.payment_method_id == cdekShippingTypeId %} {# and payKeeperResult is empty #}
<form method='POST' action='https://demo.paykeeper.ru/create/' target='payKeeperFrame' name="payKeeper" id="payKeeper">
    <input type="hidden" name="sum" value="{{ obOrder.total_price_value + obOrder.property.cdek_price }}">
    <input type="hidden" name="orderid" value="{{ obOrder.order_number }}">
    <!-- <input type="hidden" name="user_result_callback" value="{{ url('success') }}/{{ obOrder.secret_key}}"> -->
    <input type="hidden" name="service_name" value="{{ 'Оплата заказа'|_ }}">
</form>
<script>
    window.onload=function(){
        window.setTimeout(function() { document.payKeeper.submit(); }, 300);
    };
</script>
<iframe name="payKeeperFrame" frameborder="0" border="0" cellspacing="0" style="border-style: none; width: 100%; height: 1100px;"></iframe>
{% else %}
<!-- Success page -->
<div class="success-page my-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{ 'Заказа создан'|_ }}</h3>
                <div data-id="{{ obOrder.id }}">
                    <p>{{ 'Номер заказа'|_ }}: <b>{{ obOrder.order_number }}</b></p>
                    {% for obOrderPosition in obOrder.order_position %}
                    {% set obOffer = obOrderPosition.item %}
                    {% set obProduct = obOffer.product %}
                    <div>
                        <b>{{ obProduct.name }}</b>, {{ obOrderPosition.quantity }} шт.,
                        {{ obOrderPosition.price }} {{ obOrderPosition.currency_symbol }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
