{% set obCartPositionList = Cart.get() %}

{% if obCartPositionList.isNotEmpty() %}
    <div class="table-responsive">
    <form action="">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">{{ 'Товар'|_ }}</th>
                <th scope="col">{{ 'Цена'|_ }}</th>
                <th scope="col">{{ 'Количество'|_ }}</th>
                <th scope="col">{{ 'Подытог'|_ }}</th>
            </tr>
            </thead>
            <tbody>

            {% for obCartPosition in obCartPositionList %}

                {% set obOffer = obCartPosition.item %}
                {% set obProduct = obOffer.product %}

                <tr class="product-wrapper" data-position-id="{{ obCartPosition.id }}">
                    <th scope="row">
                        <div class="cart-del cart-remove">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </th>
                    <td>
                        <img src="{{ obProduct.preview_image.path }}" alt="{{ obProduct.preview_image.description }}" title="{{ obProduct.preview_image.title }}" itemprop="image">
                    </td>
                    <td>
                        <a href="{{ obProduct.getPageUrl('product') }}">{{ obProduct.name }}</a>
                    </td>
                    <td>{{ obOffer.currency }} {{ obOffer.price }}</td>
                    <td>
                        <input type="hidden" name="offer_id" value="{{ obOffer.id }}">
                        <input type="text" name="quantity" class="form-control cart-quantity" value="{{ obCartPosition.quantity }}">
                    </td>
                    <td>
                        <span>{{ obOffer.currency }} </span>
                        <span data-group="position" data-field="price_without_tax">
                            {{ obCartPosition.price_without_tax }}
                        </span>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <a href="javascript:window.location.reload()" id="cart-sync">
                        <i class="fa-solid fa-sync"></i>
                    </a>
                </td>
            </tr>
            </tfoot>
        </table>

        {% set obShippingTypeList = ShippingTypeList.make().sort().active() %}
        {% if obShippingTypeList.isNotEmpty() %}
            <h4>Выберите способ доставки</h4>
            <fieldset class="form-group">
                {% for obShippingType in obShippingTypeList %}
                    <div class="form-check{% if not loop.first %} mt-2{% endif %}">
                        <input class="form-check-input" type="radio" name="shipping_type_id" id="sipping-type-{{ obShippingType.id }}" value="{{ obShippingType.id }}" {% if obShippingType.id == arCartData.shipping_type_id %}checked{% endif %}>
                        <label class="form-check-label" for="sipping-type-{{ obShippingType.id }}">
                            {{ obShippingType.name }}
                        </label>
                    </div>
                {% endfor %}
            </fieldset>
        {% endif %}

        <div class="result">
            <h4 class="mb-4">Сумма заказов</h4>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>Итого</th>
                    <td>
                        <strong>
                            {{ obCartPositionList.getCurrency() }}
                            <span data-group="position_total_price" data-field="price_without_tax">
                                {{ obCartPositionList.getTotalPrice() }}
                            </span>
                        </strong>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="{{ 'checkout'|page }}" class="btn main-btn my-4">{{ 'Оформить заказ'|_ }}</a>
        </div>
    </form>
</div>
{% else %}
    {{ 'Корзина пуста'|_ }}
{% endif %}


