{% set cdekShippingTypeId = 2 %}
{% set obCartPositionList = Cart.get() %}

{% if obCartPositionList.isNotEmpty() %}
<form action="">

    <div class="cart-title d-md-block d-none">
        <div class="row">
            <div class="col-7">{{ 'Товар'|_ }}</div>
            <div class="col-1">{{ 'Цена'|_ }}</div>
            <div class="col-2 d-flex justify-content-md-center justify-content-end">{{ 'Количество'|_ }}</div>
            <div class="col-1">{{ 'Подытог'|_ }}</div>
            <div class="col-1"></div>
        </div>
    </div>
    <ul class="cart-items cartData">
        {% for obCartPosition in obCartPositionList %}
        {% set obOffer = obCartPosition.item %}
        {% set obProduct = obOffer.product %}
        <li class="cart-item product-wrapper" data-position-id="{{ obCartPosition.id }}">
            <input type="hidden" name="offer_id" value="{{ obOffer.id }}">
            <input type="hidden" name="weight" value="{{ obOffer.weight }}">
            <input type="hidden" name="height" value="{{ obOffer.height }}">
            <input type="hidden" name="length" value="{{ obOffer.length }}">
            <input type="hidden" name="width" value="{{ obOffer.width }}">
            <div class="row align-items-center gx-3">
                <div class="col-4 col-md-1 mb-md-0 mb-3">
                    {% if obOffer.preview_image is not empty %}
                    <img class="img-fluid" src="{{ obOffer.preview_image.path }}" alt="{{ obOffer.preview_image.description }}" title="{{ obOffer.preview_image.title }}">
                    {% elseif obProduct.preview_image is not empty %}
                    <img class="img-fluid" src="{{ obProduct.preview_image.path }}" alt="{{ obProduct.preview_image.description }}" title="{{ obProduct.preview_image.title }}">
                    {% endif %}
                </div>
                <div class="col-8 col-md-6 mb-md-0 mb-3">
                    <a class="label" href="{{ obProduct.getPageUrl('product') }}">
                        {{ obProduct.name }}
                    </a>
                </div>
                <div class="col-8 col-md-1">
                    <span class="d-inline-block d-md-none">{{ 'Цена'|_ }}: </span>
                    <span class="price">{{ obOffer.price }} {{ obOffer.currency }}</span>
                </div>
                <div class="col-4 col-md-2 d-flex justify-content-md-center justify-content-end">
                    <div class="product-amount">
                        <button type="button" class="product-amount-decrease">-</button>
                        <input type="number" class="product-amount-number" name="quantity" value="{{ obCartPosition.quantity }}" min="1" max="9">
                        <button type="button" class="product-amount-increase">+</button>
                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <span class="d-inline-block d-md-none">{{ 'Подытог'|_ }}: </span>
                    <span class="total-price">{{ obCartPosition.price_without_tax }} {{ obOffer.currency }}</span>
                </div>
                <div class="col-12 col-md-1 d-flex justify-content-end">
                    <div class="cart-del cart-remove">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-4">
                {# Get shipping type list #}
                {% set obShippingTypeList = ShippingTypeList.make().sort().active() %}
                {% if obShippingTypeList.isNotEmpty() %}
                    <h4>{{ 'Выберите способ доставки'|_ }}</h4>
                    <fieldset class="form-group">
                        {% for obShippingType in obShippingTypeList %}
                            <div class="form-check{% if not loop.first %} mt-2{% endif %}">
                                <input class="form-check-input" type="radio" name="shipping_type_id" id="sipping-type-{{ obShippingType.id }}" value="{{ obShippingType.id }}"
                                {% if obShippingType.id == arCartData.shipping_type_id %}
                                    checked
                                {% elseif obShippingType.id == 1 %} {# Set default #}
                                    checked
                                {% endif %}>
                                <label class="form-check-label" for="sipping-type-{{ obShippingType.id }}">
                                    {{ obShippingType.name }}
                                </label>
                                {% if obShippingType.id == cdekShippingTypeId %}
                                    <a href='javascript:void(0);' class="openCdekModal {% if obShippingType.id == arCartData.shipping_type_id %}d-inline-block{%else%}d-none{% endif %}">{{ 'Показать ПВЗ'|_ }}</a>
                                    <div class="spinner-grow spinner-grow-sm d-none" id="cdek-spinner" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </fieldset>
                {% endif %}
            </div>
            <div class="col-lg-6 mt-4">
                {# Get payment method list #}
                {% set obPaymentMethodList = PaymentMethodList.make().sort().active() %}
                {% if obPaymentMethodList.isNotEmpty() %}
                    <h4>{{ 'Выберите способ оплаты'|_ }}</h4>
                    <fieldset class="form-group">
                        {% for obPaymentMethod in obPaymentMethodList %}
                            <div class="form-check{% if not loop.first %} mt-2{% endif %}">
                                <input class="form-check-input" type="radio" name="payment_method_id" id="payment-method-{{ obPaymentMethod.id }}" value="{{ obPaymentMethod.id }}"
                                {% if obPaymentMethod.id == arCartData.payment_method_id %}
                                    checked
                                {% elseif obPaymentMethod.id == 1 %} {# Set default #}
                                    checked
                                {% endif %}>
                                <label class="form-check-label" for="payment-method-{{ obPaymentMethod.id }}">
                                    {{ obPaymentMethod.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </fieldset>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="result mt-5">
        <h4 class="mb-4">{{ 'Сумма заказов'|_ }}</h4>
        <table class="table table-bordered">
            <tbody>
            <tr class="delivery_info">
                {% if arCartData.shipping_type_id == cdekShippingTypeId and arCartData.property.cdek_price is not empty %}
                    <th>{{ 'Доставка'|_ }}</th>
                    <td>{{ obCartPositionList.getCurrency() }} {{ arCartData.property.cdek_price|number_format(0, '', ' ') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>{{ 'Заказ'|_ }}</th>
                <td>{{ obCartPositionList.getCurrency() }} {{ obCartPositionList.getTotalPrice() }}</td>
            </tr>
            <tr>
                <th>{{ 'Итого'|_ }}</th>
                <td>
                    <strong>
                        {{ obCartPositionList.getCurrency() }}
                        <span class="total-price">
                            {% if arCartData.shipping_type_id == cdekShippingTypeId and arCartData.property.cdek_price is not empty %}
                                {{ (obCartPositionList.getTotalPriceValue() + arCartData.property.cdek_price)|number_format(0, '', ' ') }}
                            {% else %}
                                {{ obCartPositionList.getTotalPrice() }}
                            {% endif %}
                        </span>
                    </strong>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="{{ 'checkout'|page }}" class="btn main-btn my-4">{{ 'Оформить заказ'|_ }}</a>
    </div>
</form>
{% else %}
    {{ 'Корзина пуста'|_ }}
{% endif %}


