{% set activeNavLink = activeNavLink|default(this.page.id) %}
<div class="container">
    <div class="row" id="hide">
        <div class="col-xl-12">
            <ul class="nav nav-pills justify-content-center">
                <li>
                    <a class="link {{ activeNavLink == 'about' ? 'active' }}" href="{{ 'about'|page }}">
                        {{ 'О Нас'|_ }}
                    </a>
                </li>
                <li>
                    <a class="link {{ activeNavLink == 'quality' ? 'active' }}" href="{{ 'quality'|page }}">
                        {{ 'Наше качество'|_ }}
                    </a>
                </li>
                <li>
                    <a class="link {{ activeNavLink == 'podderzhka' ? 'active' }}" href="{{ 'podderzhka'|page }}">
                        {{ 'Поддержка'|_ }}
                    </a>
                </li>
                <li>
                    <a class="link {{ activeNavLink == 'kontakty' ? 'active' }}" href="{{ 'kontakty'|page }}">
                        {{ 'Контакты'|_ }}
                    </a>
                </li>
                <li>
                    {% if obUser.isNotEmpty %}
                    <a class="link {{ activeNavLink == 'user-orders' ? 'active' }}" href="{{ 'user/orders'|page }}">
                        {{ 'Личный кабинет'|_ }}
                    </a>
                    <a class="link" href="{{ 'user/logout'|page }}">
                        {{ 'Выйти'|_ }}
                    </a>
                    {% else %}
                    <a class="link {{ activeNavLink == 'user-login' ? 'active' }}" href="{{ 'user/login'|page }}">
                        {{ 'Войти'|_ }}
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
