<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="author" content="Effektiv">

<link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">

<link href="{{ 'assets/vendor/bootstrap/bootstrap.min.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/styles.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/vendor/fancyapps/fancybox.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/font.montserrat.css'|theme }}" rel="stylesheet">
{% styles %}
<script src="{{ 'assets/vendor/bootstrap/bootstrap.bundle.min.js'|theme }}"></script>
<script src="{{ 'assets/js/fontawesome.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.min.js'|theme }}"></script>
{% framework extras %}

