<div class="modal fade" id="callBackForm" tabindex="-1" aria-labelledby="callBackFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="callBackFormLabel">
                    {{ 'Обратный звонок'|_ }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="successCallBackForm">
                <form class="call-back-needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="recipient-country" class="col-form-label">{{ 'Имя'|_ }}</label>
                        <input type="text" class="form-control" name="first_name" id="validationCallBackFormName" required>
                        <div class="invalid-feedback">
                            {{ 'Обязательно для заполнения'|_ }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-city" class="col-form-label">{{ 'Телефон'|_ }}</label>
                        <input type="text" class="form-control" name="phone" id="validationCallBackFormPhone" required>
                        <div class="invalid-feedback">
                            {{ 'Обязательно для заполнения'|_ }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">{{ 'Отправить'|_ }}</button>
                </form>
            </div>
        </div>
    </div>
</div>



