description = "Default layout"

[CategoryList]

[localePicker]
forceUrl = 1

[Cart]
==
function onInit() {

    $arCurrency = [
        "ru" => "RUB",
        "en" => "USD",
        "es" => "EUR",
    ];

    $currentLocale = \RainLab\Translate\Classes\Translator::instance()->getLocale();
    \Lovata\Shopaholic\Classes\Helper\PriceTypeHelper::instance()->switchActive($arCurrency[$currentLocale]);
    \Lovata\Shopaholic\Classes\Helper\CurrencyHelper::instance()->switchActive($arCurrency[$currentLocale]);
    
}
==
<!doctype html>
<html lang="en">
    <head>
        {% partial 'site/meta' %}
    </head>
    <body class="{{ 'page-'~this.page.id }}">

        <!-- Header -->
        <header class="sticky-top">
            {% partial 'site/header' %}
        </header>

        <!-- Menu -->
        <section class="menu">
            {% partial 'site/menu' %}
        </section>

        <!-- Content -->
        <div class="main-page">
            {% page %}
        </div>

        <!-- Footer -->
        <footer class="background-black pt-5">
            {% partial 'site/footer' %}
        </footer>

        <!-- Mobile menu -->
        {% partial 'site/mobile-menu' %}

        <!-- Modal menu -->
        <div class="modal-menu-wrap"></div>

        <!-- Scripts -->
        {% scripts %}
        {% partial 'site/script' %}

    </body>
</html>
