description = "Default layout"

[CategoryList]

[localePicker]
forceUrl = 1

[Cart]
==
function onInit() {

    /* Set currency by locale */

    $arCurrency = [
        "ru" => "RUB",
        "en" => "USD",
        "es" => "EUR",
    ];

    $currentLocale = \RainLab\Translate\Classes\Translator::instance()->getLocale();
    \Lovata\Shopaholic\Classes\Helper\PriceTypeHelper::instance()->switchActive($arCurrency[$currentLocale]);
    \Lovata\Shopaholic\Classes\Helper\CurrencyHelper::instance()->switchActive($arCurrency[$currentLocale]);

    /* Set cart data */

    $arCartData = $this->Cart->onGetCartData();
    $this['arCartData'] = $arCartData['data'];

}
==
<!doctype html>
<html lang="en">
    <head>
        {% partial 'site/meta' %}

        <title>{{ placeholder('pageTitle') ?: (this.page.meta_title ?: this.page.title) }} - Effektiv</title>
    </head>
    <body class="{{ 'page-'~this.page.id }}">

        <!-- Header -->
        <header class="sticky-top">
            {% partial 'site/header' %}
        </header>

        <!-- Menu -->
        <section class="menu">
            {% partial 'site/menu' %}
        </section>

        <!-- Content -->
        <div class="main-page">
            {% page %}
        </div>

        <!-- Footer -->
        <footer class="background-black pt-5">
            {% partial 'site/footer' %}
        </footer>

        <div id="to-top">
            <i class="fas fa-arrow-circle-up"></i>
        </div>

        <!-- Mobile menu -->
        {% partial 'site/mobile-menu' %}

        <!-- Modal call back -->
        <div class="modal-call-back'">
            {% partial 'site/modal-call-back' %}
        </div>

        <!-- Modal menu -->
        <div class="modal-menu-wrap"></div>

        <!-- Modal quick order -->
        <div class="modal-quick-order">
            {% partial 'site/modal-quick-order' %}
        </div>

        <!-- Scripts -->
        {% partial 'site/script' %}
        {% scripts %}
    </body>
</html>
